
@import url("fonts.css");


@import url("reset.css");






.wrapper {
	min-height: 100%;
}

.page {
	position: relative;
}

.car--margin {
	margin: 0 auto;
}

.car {
	width: 800px;
	height: 400px;
	transform: translate(0, 300px);
}


.car__body-bottom {
	width: 800px;
	height: 200px;
	background-color: rgb(15, 15, 63);
	border-radius: 15px;
	position: absolute;
	top: 150px;
	border-top-right-radius: 100px;
}
.car__rear-wheel {
	position: absolute;
	width: 125px;
	height: 125px;
	background-color: black;
	border-radius: 50%;
	top: 287.5px;
	left: 100px;

}
.car__front-wheel {
	position: absolute;
	width: 125px;
	height: 125px;
	background-color: black;
	border-radius: 50%;
	top: 287.5px;
	right: 100px;
}

.car__wheel-rim {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: rgb(145, 151, 151);
	border-radius: 50%;
	top: 25px;
	left: 25px;
}

.car__core-wheel-rim {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid black;
	top: 27.5px;
	left: 27.5px;
}

.car__body-top {
	width: 500px;
	height: 150px;
	background-color: rgb(15, 15, 63);
	border-top-left-radius: 500px;
	border-top-right-radius: 500px;
	position: absolute;
	left: 100px;
}

.car__rear-window {
	width: 225px;
	height: 135px;
	background-color: rgb(41, 202, 202);
	z-index: 2;
	position: absolute;
	border-top-left-radius: 250px;
	left: 122.5px;
	top: 15px;
}
.car__front-window {
	width: 225px;
	height: 135px;
	background-color: rgb(41, 202, 202);
	z-index: 2;
	position: absolute;
	border-top-right-radius: 250px;
	left: 357.5px;
	top: 15px;
}
.car__rear-door {
	width: 225px;
	height: 135px;
	border: 3px solid black;
	border-top: 0;
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 122.5px;
	border-bottom-left-radius: 15px;
}
.car__front-door {
	width: 225px;
	height: 135px;
	border: 3px solid black;
	border-top: 0;
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 357.5px;
	border-bottom-left-radius: 15px;
}

.car__knob-door {
	width: 30px;
	height: 5px;
	position: absolute;
	background-color: black;
	left: 15px;
	top: 20px;
}

.car__front-light {
	height: 30px;
	width: 20px;
	position: absolute;
	background-color: gold;
	border-radius: 50%;
	top: 220px;
	right: 0px;
}

.car__rear-light {
	height: 30px;
	width: 20px;
	position: absolute;
	background-color: red;
	border-radius: 25%;
	top: 220px;
}