@use "sass:math";

@import "_reset.scss";

@import "_fonts.scss";

@import "_functions.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;


body {
   // padding: toRem(30) toRem(30);
   opacity: 0;
}

.downloaded {
   opacity: 1;
}


.wrapper {
   overflow: clip;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   & .page {
      flex-grow: 1;
   }
}


.header {
   min-height: toRem(100);
   background-color: chocolate;
   font-size: toRem(20);
   text-align: center;
}

.page{
   padding: toRem(30) toRem(30);
}

.footer {
   min-height: toRem(100);
   background-color: chocolate;
   font-size: toRem(20);
   text-align: center;
}

.green {
   background-color: green;
}



.text {
   padding: toRem(30) toRem(30);
}
.item2 {
   background-color: black;
   padding: toRem(30) toRem(30);
   color: white;
   font-size: toRem(30);
   text-align: center;
}


.active {
   color: red;
}



