
@import url("fonts.css");


@import url("reset.css");

main {
	padding: 30px 15px;
	margin: 0 auto;
	max-width: 1300px;
	font-size: 18px;
}

.main-image {
	max-width: 1000px;
}

.white {
	background-color:dimgray;	
}

p {
	margin-bottom: 15px;
}

img {
	margin-right: 15px;
}